.leftPanel{
    width: 15%;
    float: left;
}
.leftPanel>ul{
    background-color: lightgrey;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.leftPanel>ul>a{
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    height: 40px;
}
.leftPanel>ul>a:visited{
    color: black;
}
.leftPanel>ul>a>li:hover{
background-color: grey;
}   

.productPanel{
    width: 85%;
    text-align: center;
    float: right;
}

.onSaleShowItem{
    position: relative;
    float: left;
}
.showItem{
    float: left;
    max-width: 500px;
}
.soldePictureItem{
    position: absolute;
    width: 20%;
    top: 0%;
    right: -30px;
}
.editItemForm{
    position: absolute;
    top: 0;
}
.editItemForm>input[type="submit"]{
    background-image: linear-gradient(to right, lightgrey, rgb(184, 179, 179));
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    border-radius: 12px;
}
.editItemForm>input[type="submit"]:hover{
    background-image: none;
    background-color: #4CAF50;
    color: white;
}